body {
	font-size: 1rem;
    color: white;
    background-color:rgb(3, 3, 138);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
}

.titulo_especial {
    font-size: 44px;
}

.h2_especial1 {
    font-size: 32px;
}

.h2_especial2 {
    font-size: 27px;
}

.h2_especial3 {
    font-variant: small-caps; 
}
.h2_especial4 {
    font-size: 22px;
}

.caja-texto{
    width: 50%;
    height: 11%;
    padding-top:2%;
    padding-bottom:2%;
    padding-left:1%;
    padding-right:1%;
    background-color:rgb(51, 51, 51);
    color:#FFFFFF;
    border:2px solid #FFFFFF;
    border-radius:4px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
}

.yellow-txt {
    background-color: yellow;
    color: rgb(3,3,138);
}

.texto4 {
    font-size: 14px;
}
